/* ===========================
   LATO FONT SETUP
=========================== */

/* Normal Lato 400 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2') format('woff2');
}

/* Bold Lato 700 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2') format('woff2');
}

/* Italic Lato 400 */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2') format('woff2');
}

/* Bold Italic Lato 700 */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2') format('woff2');
}

/* ===========================
   LINK STYLES
=========================== */
a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

/* ===========================
   BASE TEXT
=========================== */
body, td, th, tr, p, a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

/* ===========================
   HEADINGS
=========================== */
h2 {
    margin: 0;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 22px;
}

/* ===========================
   CUSTOM CLASSES
=========================== */
.papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.name {
    padding-top: 20px;
    margin: 0;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}

.one {
    width: 160px;
    height: 160px;
    position: relative;
}

.two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
    background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
